[package]
name = "maiko"
version = "0.1.0-alpha"
edition = "2024"
description = "A lightweight, event-based actor system for Tokio"
authors = ["David de Rosier <ddrcode@gmail.com>"]
license = "MIT"
keywords = ["actor", "async", "events", "pubsub", "messaging"]
categories = ["asynchronous", "concurrency"]
repository = "https://github.com/ddrcode/maiko"
homepage = "https://github.com/ddrcode/maiko"
readme = "README.md"

[dependencies]
async-trait = "0.1.89"
maiko-macros = { path="../maiko-macros", version="0.1.0-alpha" }
thiserror = "2.0.14"
tokio = {version="1.47.1", features=["macros", "rt", "rt-multi-thread", "time"]}
tokio-util = "0.7.17"
uuid = { version = "1.18.0", features = ["v4"] }

[dev-dependencies]
rand = "0.9.2"

